@import "sassy-buttons";    // From http://jaredhardy.com/sassy-buttons/

$button-text-color:   #fff;
$button-shade-color:   #333;
$font-size: 16px;

@mixin standard-button($base-color) {
    @include sassy-button("shiny", 5px, 16px, $base-color, darken($base-color, 15%), $button-text-color, "inset");
    //@include box-shadow($button-shade-color 0 1px 2px inset);
    //@include text-shadow(darken($button-text-color, 70%) 0 -1px 0);
}

.lb-button {
    color: $button-text-color !important;
    margin: 10px !important;
    @include standard-button($lb-pink);
    &.blue {
        @include standard-button(#60a3d8);
    }
    &.green {
        @include standard-button(#63bb4a);
    }
    &.red {
        @include standard-button(#bf4040);
    }
    &.orange {
        @include standard-button(#d98026);
    }
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
    &.large {
        font-size: $font-size*1.5;
    }
    &.small {
        font-size: $font-size*0.8;
    }
}
.lb-button a {
    font-family: Calibri, Candara, Segoe, Optima, sans-serif !important;
    font-weight: bold !important;
    color: $button-text-color !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

@mixin multi-line-button($base-color) {
    @include background-clip('padding-box');
    border-width: 1px;
    @include border-radius(6px);
    border-style: solid;
    color: white;
    display: block;
    margin: 0.2em auto;
    padding: 12px 15px;
    text-align: center;
    text-decoration: none;
    .title {
        font-size: 24px;
        font-weight: bold;
        display: block;
        @include opacity(0.9);
    }
    .subtitle {
        font-size: 14px;
        display: block;
        margin-top: 4px;
        @include opacity(0.7);
        &:hover {
            .title {
                @include opacity(1);
            }
            .subtitle {
                @include opacity(0.8);
            }
        }
        &:active {
            padding: 13px 15px 11px;
        }
    }
    @if $base-color != none {
        @include color-multi-line-button($base-color);
    }
}

@mixin color-multi-line-button($base-color) {
    $dark-color: darken($base-color, 10%);
    $light-color: lighten($base-color, 10%);
    $border-color: darken($base-color, 20%);
    $light-border-color: lighten($base-color, 0%);
    $highlight-color: transparentize(desaturate(lighten($base-color, 40%), 50%), 0.5);
    $shadow-color: darken($base-color, 15%);
    $text-shadow-color: darken($base-color, 15%);
    background-color: $base-color;
    @include background-image(linear-gradient(color-stops($light-color, $base-color, $dark-color)));
    border-color: $border-color;
    border-left-color: $light-border-color;
    border-top-color: $light-border-color;
    @include box-shadow($highlight-color, 1px, 1px, 0, 0, inset);
    color: white;
    @include text-shadow($text-shadow-color, 0, 1px, 2px);
    &:hover, &:focus {
        @include background-image(linear-gradient(color-stops(lighten($light-color, 5%), lighten($base-color, 5%), $dark-color)));
    }
    &:active, &.depressed {
        @include background-image(linear-gradient(color-stops(desaturate(lighten($dark-color, 5%),10%), desaturate($base-color, 10%))));
        @include box-shadow(none);
        border-color: $border-color;
    }
}

.multi-line-button {
    cursor: pointer;
    @include multi-line-button($lb-pink);
    &.blue {
        @include color-multi-line-button(#63bb4a);
    }
    &.green {
        @include color-multi-line-button(#63bb4a);
    }
    &.red {
        @include color-multi-line-button(#bf4040);
    }
    &.orange {
        @include color-multi-line-button(#d98026);
    }
}
