$lb-layout-width: 1200px;
$lb-break-large: $lb-layout-width;
$lb-break-medium: 1024px;
$lb-break-small: 320px;
$lb-content-width: $lb-layout-width/1.62;
$lb-sidebar-width: 330px;
$lb-sidebar2-width: 208px;
$lb-font-scribe: 'Pinyon Script', arial, sans-serif;
$lb-font: Calibri, Candara, Segoe, Optima, sans-serif;
$lb-widget-text: 300 16px/1.5em $lb-font;
$lb-pink:   #eccfd3;
$lb-white: #fff;
$lb-black: #000;
$lb-pink-button: darken($lb-pink, 25%);
$lb-subheader-height: 160px;
$lb-header-bg-color: #8c0047;
$lb-thumbnail-text: 34px $lb-font-scribe;
$lb-thumbnail-width: 300px;
$lb-thumbnail-height: 300px;

@import "base";
@import "buttons";
@import "social-buttons";
@import "widgets";
@import "comments";
@import "webicons";
@import "prettyphoto";
@import "mixitup";
@import "rabattkod-page";
@import "image-hover-caption";

@include global-reset;

#nav-container {
    margin-bottom: 0 !important;
}

#subheader-image-container {
    background-color: $lb-header-bg-color;
}

#subheader-image {
    background-color: $lb-header-bg-color;
    background-repeat: no-repeat;
    background-position: center top;
    height: $lb-subheader-height;
    padding-left: 1.618em;
    padding-right: 1.618em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    border: 0px solid;
    clear: both;
    position: relative;
    background-size: auto;
    //max-width: 1200px !important;
    display: block;
}

#subheader-text {
    font-size: 70px;
    color: $lb-white;
    padding-top: 50px;
    padding-left: 500px;
}

article {
    padding: 5px;
}

.lb-homepage-link {
    color: darken($lb-pink, 25%);
    text-decoration: none;
    cursor: pointer;
}
.lb-homepage-link:hover {
    color: $lb-pink;
    text-decoration: underline;
}

/**
 * Remove the wpstats image.
 */
img#wpstats{position:absolute;top:0;width:0px;height:0px;overflow:hidden}

/**
 * For modern browsers - From http://nicolasgallagher.com/micro-clearfix-hack/
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
