$lb-pink:   #eccfd3;
$lb-pink-button: darken($lb-pink, 25%);

@import "base";
@import "buttons";
 @import "rabattkod-page";
 
@include global-reset;

article {
    padding: 5px;
}

.lb-homepage-link {
    color: darken($lb-pink, 25%);
    text-decoration: none;
    cursor: pointer;
}
.lb-homepage-link:hover {
    color: $lb-pink;
    text-decoration: underline;
}