/* line 10, scss/sass/_buttons.scss */
.lb-button {
  color: #555555 !important;
  margin: 10px !important;
  cursor: pointer !important;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFECCFD3', endColorstr='#FFCF8690');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefdfd), color-stop(50%, #eccfd3), color-stop(100%, #d698a1));
  background: -webkit-linear-gradient(#fefdfd, #eccfd3 50%, #d698a1);
  background: -moz-linear-gradient(#fefdfd, #eccfd3 50%, #d698a1);
  background: -o-linear-gradient(#fefdfd, #eccfd3 50%, #d698a1);
  background: linear-gradient(#fefdfd, #eccfd3 50%, #d698a1);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #cf8690;
  color: white;
  text-shadow: #cf858f 0 -1px 0;
}
/* line 15, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button:hover {
  background-color: #d698a1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbf5f6), color-stop(50%, #d698a1), color-stop(100%, #cb7b86));
  background: -webkit-linear-gradient(#fbf5f6, #d698a1 50%, #cb7b86);
  background: -moz-linear-gradient(#fbf5f6, #d698a1 50%, #cb7b86);
  background: -o-linear-gradient(#fbf5f6, #d698a1 50%, #cb7b86);
  background: linear-gradient(#fbf5f6, #d698a1 50%, #cb7b86);
}
/* line 27, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button:active {
  -webkit-box-shadow: #cb7b86 0 1px 2px inset;
  -moz-box-shadow: #cb7b86 0 1px 2px inset;
  box-shadow: #cb7b86 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.disabled, .lb-button[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #d698a1;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.lb-button::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 14, scss/sass/_buttons.scss */
.lb-button.blue {
  cursor: pointer !important;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF63BB4A', endColorstr='#FF3B742B');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3dea7), color-stop(50%, #63bb4a), color-stop(100%, #458632));
  background: -webkit-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: -moz-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: -o-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  -webkit-box-shadow: #e3f3de 0 1px 0 inset;
  -moz-box-shadow: #e3f3de 0 1px 0 inset;
  box-shadow: #e3f3de 0 1px 0 inset;
  border: 1px solid #3b742b;
  color: white;
  text-shadow: #509c3b 0 -1px 0;
}
/* line 15, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.blue:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.blue:hover {
  background-color: #458632;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acdb9f), color-stop(50%, #458632), color-stop(100%, #366827));
  background: -webkit-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: -moz-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: -o-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: linear-gradient(#acdb9f, #458632 50%, #366827);
}
/* line 27, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.blue:active {
  -webkit-box-shadow: #366827 0 1px 2px inset;
  -moz-box-shadow: #366827 0 1px 2px inset;
  box-shadow: #366827 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.blue.disabled, .lb-button.blue[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #458632;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.lb-button.blue::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 17, scss/sass/_buttons.scss */
.lb-button.green {
  cursor: pointer !important;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF63BB4A', endColorstr='#FF3B742B');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3dea7), color-stop(50%, #63bb4a), color-stop(100%, #458632));
  background: -webkit-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: -moz-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: -o-linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  background: linear-gradient(#b3dea7, #63bb4a 50%, #458632);
  -webkit-box-shadow: #e3f3de 0 1px 0 inset;
  -moz-box-shadow: #e3f3de 0 1px 0 inset;
  box-shadow: #e3f3de 0 1px 0 inset;
  border: 1px solid #3b742b;
  color: white;
  text-shadow: #509c3b 0 -1px 0;
}
/* line 15, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.green:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.green:hover {
  background-color: #458632;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acdb9f), color-stop(50%, #458632), color-stop(100%, #366827));
  background: -webkit-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: -moz-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: -o-linear-gradient(#acdb9f, #458632 50%, #366827);
  background: linear-gradient(#acdb9f, #458632 50%, #366827);
}
/* line 27, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.green:active {
  -webkit-box-shadow: #366827 0 1px 2px inset;
  -moz-box-shadow: #366827 0 1px 2px inset;
  box-shadow: #366827 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.green.disabled, .lb-button.green[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #458632;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.lb-button.green::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 20, scss/sass/_buttons.scss */
.lb-button.red {
  cursor: pointer !important;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFBF4040', endColorstr='#FF732626');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfa0a0), color-stop(50%, #bf4040), color-stop(100%, #862d2d));
  background: -webkit-linear-gradient(#dfa0a0, #bf4040 50%, #862d2d);
  background: -moz-linear-gradient(#dfa0a0, #bf4040 50%, #862d2d);
  background: -o-linear-gradient(#dfa0a0, #bf4040 50%, #862d2d);
  background: linear-gradient(#dfa0a0, #bf4040 50%, #862d2d);
  -webkit-box-shadow: #f2d9d9 0 1px 0 inset;
  -moz-box-shadow: #f2d9d9 0 1px 0 inset;
  box-shadow: #f2d9d9 0 1px 0 inset;
  border: 1px solid #732626;
  color: white;
  text-shadow: #9d3434 0 -1px 0;
}
/* line 15, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.red:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.red:hover {
  background-color: #862d2d;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dc9898), color-stop(50%, #862d2d), color-stop(100%, #672323));
  background: -webkit-linear-gradient(#dc9898, #862d2d 50%, #672323);
  background: -moz-linear-gradient(#dc9898, #862d2d 50%, #672323);
  background: -o-linear-gradient(#dc9898, #862d2d 50%, #672323);
  background: linear-gradient(#dc9898, #862d2d 50%, #672323);
}
/* line 27, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.red:active {
  -webkit-box-shadow: #672323 0 1px 2px inset;
  -moz-box-shadow: #672323 0 1px 2px inset;
  box-shadow: #672323 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.red.disabled, .lb-button.red[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #862d2d;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.lb-button.red::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 23, scss/sass/_buttons.scss */
.lb-button.orange {
  cursor: pointer !important;
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD98026', endColorstr='#FF824D17');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ecc093), color-stop(50%, #d98026), color-stop(100%, #985a1b));
  background: -webkit-linear-gradient(#ecc093, #d98026 50%, #985a1b);
  background: -moz-linear-gradient(#ecc093, #d98026 50%, #985a1b);
  background: -o-linear-gradient(#ecc093, #d98026 50%, #985a1b);
  background: linear-gradient(#ecc093, #d98026 50%, #985a1b);
  -webkit-box-shadow: #f7e6d4 0 1px 0 inset;
  -moz-box-shadow: #f7e6d4 0 1px 0 inset;
  box-shadow: #f7e6d4 0 1px 0 inset;
  border: 1px solid #824d17;
  color: white;
  text-shadow: #b2691f 0 -1px 0;
}
/* line 15, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.orange:hover {
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.orange:hover {
  background-color: #985a1b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaba8a), color-stop(50%, #985a1b), color-stop(100%, #754515));
  background: -webkit-linear-gradient(#eaba8a, #985a1b 50%, #754515);
  background: -moz-linear-gradient(#eaba8a, #985a1b 50%, #754515);
  background: -o-linear-gradient(#eaba8a, #985a1b 50%, #754515);
  background: linear-gradient(#eaba8a, #985a1b 50%, #754515);
}
/* line 27, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.orange:active {
  -webkit-box-shadow: #754515 0 1px 2px inset;
  -moz-box-shadow: #754515 0 1px 2px inset;
  box-shadow: #754515 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.lb-button.orange.disabled, .lb-button.orange[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #985a1b;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.lb-button.orange::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 26, scss/sass/_buttons.scss */
.lb-button.left {
  float: left;
}
/* line 29, scss/sass/_buttons.scss */
.lb-button.right {
  float: right;
}

/* line 33, scss/sass/_buttons.scss */
a.lb-button {
  color: #555555;
}

/* line 102, scss/sass/_buttons.scss */
.multi-line-button {
  cursor: pointer;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-width: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border-style: solid;
  color: white;
  display: block;
  margin: 0.2em auto;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  background-color: #eccfd3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #faf4f4), color-stop(50%, #eccfd3), color-stop(100%, #deaab2));
  background-image: -webkit-linear-gradient(#faf4f4, #eccfd3, #deaab2);
  background-image: -moz-linear-gradient(#faf4f4, #eccfd3, #deaab2);
  background-image: -o-linear-gradient(#faf4f4, #eccfd3, #deaab2);
  background-image: linear-gradient(#faf4f4, #eccfd3, #deaab2);
  border-color: #cf8690;
  border-left-color: #eccfd3;
  border-top-color: #eccfd3;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5), 1px, 1px, 0, 0, inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.5), 1px, 1px, 0, 0, inset;
  box-shadow: rgba(255, 255, 255, 0.5), 1px, 1px, 0, 0, inset;
  color: white;
  text-shadow: #d698a1, 0, 1px, 2px;
}
/* line 48, scss/sass/_buttons.scss */
.multi-line-button .title {
  font-size: 24px;
  font-weight: bold;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
/* line 54, scss/sass/_buttons.scss */
.multi-line-button .subtitle {
  font-size: 14px;
  display: block;
  margin-top: 4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 60, scss/sass/_buttons.scss */
.multi-line-button .subtitle:hover .title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 63, scss/sass/_buttons.scss */
.multi-line-button .subtitle:hover .subtitle {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 67, scss/sass/_buttons.scss */
.multi-line-button .subtitle:active {
  padding: 13px 15px 11px;
}
/* line 92, scss/sass/_buttons.scss */
.multi-line-button:hover, .multi-line-button:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f3e1e4), color-stop(100%, #deaab2));
  background-image: -webkit-linear-gradient(#ffffff, #f3e1e4, #deaab2);
  background-image: -moz-linear-gradient(#ffffff, #f3e1e4, #deaab2);
  background-image: -o-linear-gradient(#ffffff, #f3e1e4, #deaab2);
  background-image: linear-gradient(#ffffff, #f3e1e4, #deaab2);
}
/* line 95, scss/sass/_buttons.scss */
.multi-line-button:active, .multi-line-button.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0c1c6), color-stop(100%, #e9d2d5));
  background-image: -webkit-linear-gradient(#e0c1c6, #e9d2d5);
  background-image: -moz-linear-gradient(#e0c1c6, #e9d2d5);
  background-image: -o-linear-gradient(#e0c1c6, #e9d2d5);
  background-image: linear-gradient(#e0c1c6, #e9d2d5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #cf8690;
}
/* line 105, scss/sass/_buttons.scss */
.multi-line-button.blue {
  background-color: #63bb4a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: -moz-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: -o-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: linear-gradient(#83c96f, #63bb4a, #4e9939);
  border-color: #3b742b;
  border-left-color: #63bb4a;
  border-top-color: #63bb4a;
  -webkit-box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  -moz-box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  color: white;
  text-shadow: #458632, 0, 1px, 2px;
}
/* line 92, scss/sass/_buttons.scss */
.multi-line-button.blue:hover, .multi-line-button.blue:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: -moz-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: -o-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: linear-gradient(#93d082, #73c25d, #4e9939);
}
/* line 95, scss/sass/_buttons.scss */
.multi-line-button.blue:active, .multi-line-button.blue.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
  background-image: -webkit-linear-gradient(#5f9f4c, #6aaf56);
  background-image: -moz-linear-gradient(#5f9f4c, #6aaf56);
  background-image: -o-linear-gradient(#5f9f4c, #6aaf56);
  background-image: linear-gradient(#5f9f4c, #6aaf56);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #3b742b;
}
/* line 108, scss/sass/_buttons.scss */
.multi-line-button.green {
  background-color: #63bb4a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83c96f), color-stop(50%, #63bb4a), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: -moz-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: -o-linear-gradient(#83c96f, #63bb4a, #4e9939);
  background-image: linear-gradient(#83c96f, #63bb4a, #4e9939);
  border-color: #3b742b;
  border-left-color: #63bb4a;
  border-top-color: #63bb4a;
  -webkit-box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  -moz-box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  box-shadow: rgba(233, 233, 233, 0.5), 1px, 1px, 0, 0, inset;
  color: white;
  text-shadow: #458632, 0, 1px, 2px;
}
/* line 92, scss/sass/_buttons.scss */
.multi-line-button.green:hover, .multi-line-button.green:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93d082), color-stop(50%, #73c25d), color-stop(100%, #4e9939));
  background-image: -webkit-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: -moz-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: -o-linear-gradient(#93d082, #73c25d, #4e9939);
  background-image: linear-gradient(#93d082, #73c25d, #4e9939);
}
/* line 95, scss/sass/_buttons.scss */
.multi-line-button.green:active, .multi-line-button.green.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f9f4c), color-stop(100%, #6aaf56));
  background-image: -webkit-linear-gradient(#5f9f4c, #6aaf56);
  background-image: -moz-linear-gradient(#5f9f4c, #6aaf56);
  background-image: -o-linear-gradient(#5f9f4c, #6aaf56);
  background-image: linear-gradient(#5f9f4c, #6aaf56);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #3b742b;
}
/* line 111, scss/sass/_buttons.scss */
.multi-line-button.red {
  background-color: #bf4040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc6666), color-stop(50%, #bf4040), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(#cc6666, #bf4040, #993333);
  background-image: -moz-linear-gradient(#cc6666, #bf4040, #993333);
  background-image: -o-linear-gradient(#cc6666, #bf4040, #993333);
  background-image: linear-gradient(#cc6666, #bf4040, #993333);
  border-color: #732626;
  border-left-color: #bf4040;
  border-top-color: #bf4040;
  -webkit-box-shadow: rgba(230, 230, 230, 0.5), 1px, 1px, 0, 0, inset;
  -moz-box-shadow: rgba(230, 230, 230, 0.5), 1px, 1px, 0, 0, inset;
  box-shadow: rgba(230, 230, 230, 0.5), 1px, 1px, 0, 0, inset;
  color: white;
  text-shadow: #862d2d, 0, 1px, 2px;
}
/* line 92, scss/sass/_buttons.scss */
.multi-line-button.red:hover, .multi-line-button.red:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d27979), color-stop(50%, #c55353), color-stop(100%, #993333));
  background-image: -webkit-linear-gradient(#d27979, #c55353, #993333);
  background-image: -moz-linear-gradient(#d27979, #c55353, #993333);
  background-image: -o-linear-gradient(#d27979, #c55353, #993333);
  background-image: linear-gradient(#d27979, #c55353, #993333);
}
/* line 95, scss/sass/_buttons.scss */
.multi-line-button.red:active, .multi-line-button.red.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a04545), color-stop(100%, #b24d4d));
  background-image: -webkit-linear-gradient(#a04545, #b24d4d);
  background-image: -moz-linear-gradient(#a04545, #b24d4d);
  background-image: -o-linear-gradient(#a04545, #b24d4d);
  background-image: linear-gradient(#a04545, #b24d4d);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #732626;
}
/* line 114, scss/sass/_buttons.scss */
.multi-line-button.orange {
  background-color: #d98026;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e19951), color-stop(50%, #d98026), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(#e19951, #d98026, #ae661e);
  background-image: -moz-linear-gradient(#e19951, #d98026, #ae661e);
  background-image: -o-linear-gradient(#e19951, #d98026, #ae661e);
  background-image: linear-gradient(#e19951, #d98026, #ae661e);
  border-color: #824d17;
  border-left-color: #d98026;
  border-top-color: #d98026;
  -webkit-box-shadow: rgba(235, 230, 224, 0.5), 1px, 1px, 0, 0, inset;
  -moz-box-shadow: rgba(235, 230, 224, 0.5), 1px, 1px, 0, 0, inset;
  box-shadow: rgba(235, 230, 224, 0.5), 1px, 1px, 0, 0, inset;
  color: white;
  text-shadow: #985a1b, 0, 1px, 2px;
}
/* line 92, scss/sass/_buttons.scss */
.multi-line-button.orange:hover, .multi-line-button.orange:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e4a667), color-stop(50%, #dd8d3c), color-stop(100%, #ae661e));
  background-image: -webkit-linear-gradient(#e4a667, #dd8d3c, #ae661e);
  background-image: -moz-linear-gradient(#e4a667, #dd8d3c, #ae661e);
  background-image: -o-linear-gradient(#e4a667, #dd8d3c, #ae661e);
  background-image: linear-gradient(#e4a667, #dd8d3c, #ae661e);
}
/* line 95, scss/sass/_buttons.scss */
.multi-line-button.orange:active, .multi-line-button.orange.depressed {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b8732e), color-stop(100%, #cc8033));
  background-image: -webkit-linear-gradient(#b8732e, #cc8033);
  background-image: -moz-linear-gradient(#b8732e, #cc8033);
  background-image: -o-linear-gradient(#b8732e, #cc8033);
  background-image: linear-gradient(#b8732e, #cc8033);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #824d17;
}

/* line 17, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, scss/sass/lyxbling.scss */
article {
  padding: 5px;
}
